# ignore file/folder


# ignore file build and run webAPI-Client
/src/Services/APIwebfood/bin/
/src/Services/APIwebfood/obj/

# User-specific files
*.suo
*.user
*.sln.docstates
*.vs
*.sln

# Ignore Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# SQL Server files
App_Data/*.mdf
App_Data/*.ldf